@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    * {}

    body {}

    nav button {
        display: none;
    }

    .hamburger {
        display: none;
    }
    .navigation {
        background: #DCD0C0 url(menu.png) repeat-x;} 
        overflow: hidden;
        text-align: center;
        display: flex;
        flex-direction: row;
    }
    .navigation li {
        display: flex;
        flex-direction: row;
        align-content: space-around;
        justify-content: center;
    }
    .navigation a {
        color: #000;
        padding: .5rem;
        text-align: center;
    }
    .navigation a:hover {
        color: #f1f1f1;
        background-color: rgba(94, 94, 91);
    }

    main h2 {
        margin-left: auto;
    }

    textarea {
        height: 8em;
    }

    form {
        display: flex;
        flex-direction: row;
    }

    /* hamburger button does not need to be shown */
    section.forecast {
        display: flex;
        flex-direction: column;
        flex-basis: auto;
        flex: 1;
        align-items: stretch;
    }

    #towncontainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr 1fr 1fr;
    }

    #towncontainer li{
        text-align: left;
    }

    #towncontainer div {
        display: flex;
        flex-direction: row;
    }

    #towncontainer div:nth-child(odd){

        display: flex;
        flex-direction: row-reverse;
    }

    #towncontainer div img {
        max-height: 150px;
        width: auto;
        padding: 10px
    }

    #towncontainer div span {
        padding: 5px;
        margin: 5px;
        font-size: .75em;
        border: 1px solid rgba(94, 94, 91);
        max-width: none;
    }

    /* show the 10-day forecast with the medium view and up */
    main {
        clear: both;
    }

    article p.town-article img {
        width: 40%;
        float: right;
        padding: 10px;
    }

    /* responsive images */
}
