@media screen and (min-width: 992px) {
}    

body {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 18px;  
}

header {
    background-color: rgba(36,23,79);
    text-align: center;
    padding: .5rem;
    color: #ffffff;
    
}

header > img {
    width: 150px;
    height: auto;
    vertical-align: middle;
}

.headertext {
    display: inline-block;
    vertical-align: middle;
}

.headertext h1 {
    font-size: 3rem;
}

.subheading {
    font-size: 1.1rem;
    color: #ffffff;
    font-style: italic;
}

.currentconditions {
    display: inline-block;
    margin: 1rem, 0 1rem, 5rem;
    padding: 1.2rem;
    vertical-align: middle;
    color: #ffffff;
    background-color: rgba(80,54,164);
    size: 15px;
    border: 1pt solid rgba(36,23,79);
    font-size: 1.1rem;
}

main {
    font-size: 2rem;
    color: black;
    display: inline-block;
}

.townphoto {
    padding: .5rem;
    vertical-align: middle;
    size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #34495E;
}

li {
    display: inline;
    float: left;
    border-right: 1px solid #bbbbbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111111;
}

.active {
    background-color: #4CAF50;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #34495E;
}

li {
    display: inline;
    float: left;
    border-right: 1px solid #bbbbbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111111;
}

.active {
    background-color: #4CAF50;
}

table {
    table-layout: fixed;
    width: auto;
    border-collapse: collapse;
    border: 3px rgba(80,54,164);
}

tbody th:nth-child(1) {
    width: auto;
}

tbody th:nth-child(2) {
    width: auto;
}

.nav {
    position:relative;
    display:inline-block;
    font-size:14px;
    font-weight:900;
    width: 100%;
    background-color: #34495E;
  }
  .nav-list {
  }

  .nav-item {
    float:left;
    *display:inline;
    zoom:1;
    background: #34495E;
  }
  .nav-item a {
    display:block;
    padding:15px 20px;
    color:#FFF;
    background:#34495E;
  }
  .nav-item:first-child a {
    border-radius:5px 0 0 5px;
  }
  .nav-item:last-child a {
    border-radius:0 5px 5px 0;
  }
  .nav-item a:hover {
    background:#2C3E50;
  }

    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 800px) {
        .leftcolumn, .rightcolumn {   
          width: 100%;
          padding: 0;
        }
      }
      
      /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
      @media screen and (max-width: 400px) {
        .topnav a {
          float: none;
          width: 100%;
        }
      }
    
      @media only screen and (min-width: 320px) and (max-width: 768px) {
      .nav {
        width:100%;
      }
      .nav-item {
        width:100%;
        float:none;
      }
    }