* { margin: 0; box-sizing: border-box; } 

body { 
    max-width: ;
    font-size: 16px; 
    line-height: 32px;
    font-family: ;
    color:#FFFFFF;
}

h1 {
    font-size: 2.0rem;
    color: #FFFFFF;
}

h2 {
    font-size: 1.0rem;
    text-align: center;
    color: #111111;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    color: black;
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: ;
}

header, footer, footer a {
    background-color: navy;
    color: #FFFFFF;
}

header img {
    width: 80px;
    height: 80px;
    float: right;
}

footer {
    font-size: /* smaller */;
}