/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: /* Ubuntu, sans-serif */;
    color:#FFFFFF /* #xxxxxx */;
}

h1 {
    font-size: 2.0rem /* 2.0rem  (rem is a unit of measure) */;
    color: #FFFFFF/* #FFFFFF */;
}

h2 {
    font-size: 1.0rem /* 1.0rem */;
    text-align: center;
    color: #111111/* #FFFFFF */;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    color: black;
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: /* xxxpx (px = pixel is a unit of measure)  */;
}

header, footer, footer a {
    background-color: navy /* */;
    color: #FFFFFF;
}

header img {
    width: 80px;
    height: 80px;
    float: right;
}

footer {
    font-size: /* smaller */;
}